html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    width: 100%;
    background-color: rgb(45, 22, 150);
}
ul{ 
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

ul li::before{
content: '';
    width: 20px;
    height: 20px;
    position: relative;
    right: 0;
    top: 0;
    background-color: black;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}
ul li:hover{
    background-color: blueviolet;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
.toggle{
    color: #fff;
    font-size: 20px;
    text-align: right;
    
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: none;
}
@media (max-width:768px) {
    .toggle{
    display: block;
    }
    ul{
        display: none;
        width: 100%;
    }
    ul li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}
